In [2]:
import pandas as pd

In [3]:
df = pd.read_excel("historical_flood_warnings_data.ods")

df.head()

,DATE,AREA,CODE,WARNING / ALERT AREA NAME,TYPE
0,2006-01-31 13:55:34,SW - Devon,113WACT2a,Devon Coast (North),Flood Watch
1,2006-01-31 16:33:10,SW - North Wessex,112WACTAVN,Porlock to Avonmouth,Flood Watch
2,2006-02-08 11:19:45,ANG - Eastern,054WATBT1,"Tidal Rivers Bure, Ant and Thurne",Flood Watch
3,2006-02-08 11:25:26,ANG - Eastern,054WATBT2,Tidal River Yare,Flood Watch
4,2006-02-08 11:32:20,ANG - Eastern,054WATBT3,Tidal River Waveney,Flood Watch